<!DOCTYPE html>
<html>

<head>

  <title>Webrtc Register</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">  
  <!-- Import CSS file -->
  <link rel="stylesheet" href="/css/login_page.css">
  
  
  <!-- Import Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;500;600&family=Josefin+Slab&display=swap" rel="stylesheet">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>  
 
  <!-- Import SocketIO for signalling -->
  <script src="/socket.io/socket.io.js"></script>

  <!-- Import WebRTC adapter for compatibility with all the browsers  -->
  <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
  
  <!-- Import TURN config -->
  <script src="js/config.js"></script>
  
  
</head>

<body class="h-100">
  <% if(fgt_fail!=''&&fgt_success===''){%>
  <div class = "alert alert-danger" id="fail_info">
    <strong>失敗。</strong> <%= fgt_fail %>    
  </div>
  <% } %>

  <% if(fgt_fail===''&&fgt_success!=''){%>
  <div class = "alert alert-success" id='success_info'>
    <strong>成功。</strong> <%= fgt_success %>
  </div>
  <% } %>
  <div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mt-3">Forget Password</h1>
          <form action="" method="POST">
          <div class="form-group">
            <label for="account">Account</label>
            <input id="txtUserName" name="txtUserName" type="text" class="form-control" placeholder="please enter your account" required />
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input id="txtUserAddr"  name="txtUserAddr" type="test" class="form-control" placeholder="please enter your email" required/>
          </div>
          <button type="submit" class="btn btn-primary btn-block"onclick="return confirmSend();" >Submit</button>
        </form>
        <p class="lead mt-3">
          Have An Account? <a href="/login">Login</a>
          <br>
          No Account? <a href="/register">Register</a>
        </p>
      </div>
    </div>
  <script>
    function confirmSend(){
      const result = confirm('確定送出?')
      if(result) return true;
      else return false;
    }
  </script>
  
  
</body>

</html>
