<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Screen Wake Lock Demo</title>
    <meta charset="utf-8">
    <script>
      if (location.protocol !== 'https:') {
        location.protocol = 'https:'
      }
    </script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="origin-trial" content="Aj48SAN1EJXtSGJVzQotGPDYf336nStMH0BGxzv+ZA51CssNUGvWgMSpc/h/mXvl2u2YkIAeNsK5SPE85KFregkAAABaeyJvcmlnaW4iOiJodHRwczovL3dha2UtbG9jay1kZW1vLmdsaXRjaC5tZTo0NDMiLCJmZWF0dXJlIjoiV2FrZUxvY2siLCJleHBpcnkiOjE1OTQxNjYzOTl9">
    <link rel="stylesheet" href="/style.css">
    <script src="/js/test.js" defer></script>
  </head>  
  <body>
    <h1>Screen Wake Lock Demo</h1>    
    <div>
      <label><input type="checkbox" id="wakeLockCheckbox"> Activate <code>screen</code> Wake Lock</label>
    </div>    
    <div>    
      <label><input type="checkbox" id="reacquireCheckbox"> Re-Acquire <code>screen</code> Wake Lock On Visibility Changes</label>
    </div>
    <div>
      <button id="fullScreenButton" type="button">Go Full Screen</button>
    </div>
    <div id="statusDiv"></div>
  </body>
</html>
